<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
    <title>title</title>
</head>
  <body>
    <h1>Enter puppy info:</h1>

    <form method="post" action="/">
      <label for="display_puppy">Create a puppy:</label><br>
      <input type="text" name="name">
      <input type="text" name="age">
      <input type="text" name="breed">
      <input type="submit" name="submit"></input>
    </form>

  </body>
</html>
