<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
    <title>title</title>
</head>
  <body>
    <h1>Enter puppy info:</h1>

    <form method="post" action="/">
      <p>Name:<input type="text" name="name"></input></p>
      <p>Breed:<input type="text" name="breed"></input></p>
      <p>Age:<input type="text" name="age"></input></p>
      <p><input type="submit" title="submit">
    </form>

  </body>
</html>
