<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
    <title>title</title>
</head>
  <body>
    <h1>Enter puppy info:</h1>

    <form method="post" action="create_puppy">
      <label for="name">name</label>
      <label for="age">age</age>
      <label for="breed">breed</breed>
  </body>
